@using Comix.Models;
@using Comix.Infrastructure;
@model CharacterListViewModel

@{
    ViewBag.Title = "Characters";
}
<h3>@ViewBag.Message</h3>
@foreach (var character in Model.Characters)
{
    <img src="@character.Thumbnail.Path/portrait_uncanny.jpg" />
    <p>@character.Name</p>
}

<div style="right: 0" class="btn-group-sm ml-auto m-3">
    @Html.PagingLinks(Model.PageInfo, pageNum => Url.Action("About", new { currentPage = pageNum, pageSize = 100 }))
</div>

