@{
    ViewBag.Title = "Contact";
}
<style>

    .character-grid {
        display: grid;
        grid-template-areas: "character-name character-img" "bio character-img";
        background: linear-gradient(to right, #0000009e, #000000), 
            linear-gradient(to bottom, #000000c7, #000000a6), 
            url(https://i.etsystatic.com/13321089/r/il/1cf2d2/1070657099/il_570xN.1070657099_l1ia.jpg)
    }

    .character-name{
        grid-area: character-name;
        align-self: flex-end;
    }

    .bio{
        grid-area: bio;
        margin: 10px 0 10px 0;
        color: ghostwhite;
    }

    .bio p {
        margin: 0 5% 10% 10%;
            text-shadow: 0px 0 2px whitesmoke;
    }

    .character-name h2 {
        margin: 0 0 0 5%;
        color: ghostwhite;
        text-shadow: 0px 0px 10px whitesmoke;
        font-size: 43px;
    }

    .character-img {
        grid-area: character-img;
        z-index: 1;
        position: relative;
        min-width: 250px;
    }

    .head-image {
        width: 100%;
        max-width: 540px;
    }

    .shadow::after {
        box-shadow: inset 10px 0px 20px 0px #000000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @@media(max-width: 600px) {
        .character-grid {
            grid-template-areas: "character-name" "character-img" "bio";
            grid-template-rows: none;
            justify-items: center;
        }
        .character-name h2 {

            margin: 10px 0 10px 0;
        }

        .shadow::after {
            box-shadow: inset 0px 0px 20px 0px #000000;
        }

        .bio p {
            margin: 0 5% 0 5%;
        }
    }

</style>
<div>
    <div class="wrapper ">
            <header class="character-grid">
                <div class="character-img">
                    <div class="shadow">
                        <img class="head-image" src="http://i.annihil.us/u/prod/marvel/i/mg/6/20/52602f21f29ec.jpg" />
                    </div>
                </div>
                    <div class="character-name">
                        <h2>Mr. Fantastic</h2>
                    </div>
                    <div class="bio">
                        <p>
                            Reed Richards was born in Central City, California the only son of wealthy physicist Nathaniel Richards and his wife Evelyn,
                            was a child prodigy with special aptitude in mathematics, physics, and mechanics. Evelyn died when Reed was seven.
                        </p>
                    </div>
            </header>
    </div>
</div>