

@{
    ViewBag.Title = "Home Page";
        <link rel="stylesheet" type="text/css" href="~/Content/power-ranking.css" />
        
}
<style>
    .search {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    body{
        margin: 50px 5% 0 5%;
    }
    .stat-text-bar p {
        text-shadow: -1px 0 black, 0 1px black, 
            1px 0 black, 0 -1px black, 0 0 8px black,
            0px 0 5px black, 0 0 5px black;
        margin: 0;
    }
  

</style>

<div>
    <div class="search">
        @*@using(Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.TextBox("heroName")<input type="submit" value="search" />
        }*@
    </div>
</div>

<div class="grid-container">
    @*<div class="stat-text">Intelligence</div>*@
    <div class="power-bar">
        <div class="percent-bar" id="intelligence" style=" background: yellow">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Intelligence</p></div>
                <div class="power-rating">0</div>

            </div>
        </div>
    </div>

    @*<div class="stat-text">Strength</div>*@
    <div class="power-bar">
        <div class="percent-bar" id="strength" style="  background: blue">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Strength</p></div>
                <div class="power-rating"><p>0</p></div>
            </div>
        </div>
    </div>

    @*<div class="stat-text">Durability</div>*@
    <div class="power-bar">
        <div class="percent-bar" id="durability" style=" background: darkred">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Durability</p></div>
                <div class="power-rating">0</div>
            </div>
        </div>
    </div>

    @*<div class="stat-text">Speed</div>*@
    <div class="power-bar" >
        <div class="percent-bar" id="speed" style="  background: green">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Speed</p></div>
                <div class="power-rating">0</div>
            </div>
        </div>
    </div>

    @*<div class="stat-text">Combat</div>*@
    <div class="power-bar">
        <div class="percent-bar" id="combat" style=" background: purple">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Combat</p></div>
                <div class="power-rating">0</div>
            </div>
        </div>
    </div>

    @*<div class="stat-text">Overall</div>*@
    <div class="power-bar">
        <div class="percent-bar" id="power" style=" background: orange">
            <div class="bar-text">
                <div class="stat-text-bar"><p>Overall</p></div>
                <div class="power-rating">0</div>
            </div>
        </div>
    </div>

</div>



@section scripts
    {
    <script>

    var userObj = @Html.Raw(Json.Encode(Model));
    
    $(document).ready(function () {

        //temp button for testing for the statbars
        //$(".button").click(function () {

            //check for successful api call
            if(userObj)
                statSelection().forEach((stat) => {
                    statBar = document.getElementById(stat)
                    if (userObj.response === "success")
                    {
                        move(statBar, stat);
                    }
                    else
                    {
                        move(statBar, null);
                    }       
                });
        });

        //returns array of statnames
        function statSelection() {
            return ["combat", "durability", "intelligence", "speed", "strength", "power"];
        }

        //animate and move statbars based bar = domElement; stat = int;
        function move(bar, stat) {
            var width = 0;
            console.log(hasStat());
            var statInt = (hasStat()) ? userObj.results[0]["powerstats"][stat] : 100;
            //console.log(statInt === null);
            var id = setInterval(frame, 12);
            

            function frame() {
                if (width >= statInt) {
                    clearInterval(id);

                } else {
                    width++;
                    bar.style.width = width + '%';
                    bar.getElementsByClassName('power-rating')[0].innerHTML = (hasStat()) ? width : '?';
                    if (width > statInt/2) {
                        $(".stat-text-bar").fadeIn();
                        bar.getElementsByClassName('bar-text')[0].style.justifyContent = "space-between";
                    }
                }
            }

            function hasStat() {
                if ((stat !== null && stat !== "null") && userObj.results[0]["powerstats"][stat] !== "null") {
                    return true;
                }
                return false;
            }
        };
   // });

    </script>
}

