@model string

@{
    ViewBag.Title = "Home Page";
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css"/>
</head>


@Model.ToString()
<div class="grid-container">
    <div class="item item1">1</div>
    <div class="item item2">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
    <div class="item">8</div>
    <div class="item">9</div>
    <div class="item">10</div>
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
    <div class="item">8</div>
    <div class="item">9</div>
    <div class="item">10</div>
</div>

<style>
    .grid-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(200)
        justify-content: space-between;
    }

    .item1
    {
        grid-row: span 5;
    }
</style>